<div class="container">
	<div class="row">
		<div class="col-8 offset-2">
			<div class="card mt-4">
				<div class="card-body">
					<h5 class="card-title">Welcome!</h5>
					<p>
						<strong>ID</strong>: {{user.id}}</p>
					<p>
					<p>
						<strong>First Name</strong>: {{user.firstName}}</p>

						<button type="submit" class="btn btn-primary" id="signOut"> Sign Out </button>
						
				</div>
			</div>
		</div>
	</div>
</div>
