@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
	font-family: 'Roboto', sans-serif;
	margin: 0; 
	height: 100%; 
	overflow: hidden;
}

h1 {
	font-size: 100px;
	padding-bottom: 40px;
}

.jumbotron {
  background: #000 url("../images/background.jpg") no-repeat bottom center;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  color: #fff;
	height: calc(100vh);
}

#logo{
	top: 20px;
	position: absolute;
	width: 230px;
}

.outer-div
{
     display: table;
     position: absolute;
     height: 100%;
     width: 100%;
}
.mid-div
{
     display: table-cell;
     vertical-align: middle;
}
.center-div
{
     margin: 0 auto;
}

.form-inline {
	padding-top: 20px;
}

.list-group-item {
	line-height: 2.5;
}

#signUp {
	padding: 10px 100px;
}

#splashFormPassword, #splashFormName {
	padding: 30px 120px 30px 30px;
	color: black;
}

#splashSubmit {
	padding: 5px 50px;
}

#splashBtn, #loginBtn {
	padding: 17px 40px;
}

.form-inline {
	margin: 0 auto;
}


@media screen and (max-width: 901px) {
	h1 {
		font-size: 70px;
		padding-bottom: 40px;
	}

	#signUp {
		padding: 7px 70px;
	}
	
	#splashFormPassword, #splashFormName {
		padding: 30px 70px 30px 30px;
		color: black;
	}
	
	#splashSubmit {
		padding: 5px 50px;
	}
	
	#splashBtn {
		padding: 17px 40px;
	}
}


@media screen and (max-width: 767px) {
	#signUp {
		padding: 7px 70px;
	}
	
	#splashFormPassword, #splashFormName {
		padding: 20px 40px 20px 20px;
		color: black;
	}
	
	#splashSubmit {
		padding: 5px 30px;
	}
	
	#splashBtn {
		padding: 10px;
	}
}