@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
	font-family: 'Roboto', sans-serif;
	padding-bottom: 30px;
	padding: 0;
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

h1 {
	font-size: 100px;
	padding-bottom: 40px;
}


#logo{
	top: 20px;
	position: absolute;
	width: 230px;
}


.form-inline {
	padding-top: 20px;
}

.list-group-item {
	line-height: 2.5;
}

#signUp {
	padding: 10px 100px;
}


.form-inline {
	margin: 0 auto;
}

/* REGISTRATION PAGE */
#tacoLogo {
	width: 250px;
	margin-right: 45px;
}
.media-body {
	margin-left: 45px;
}
.media {
	margin: 0 auto; 
}

label {
	padding-top: 20px;
}

#registerBtn {
	padding: 10px 50px;
	font-size: 18px;
}

.signUp {
	padding-top: 80px;
}

/* user profile */

#userImage {
width: 250px;
}

@media screen and (max-width: 901px) {
	h1 {
		font-size: 70px;
		padding-bottom: 40px;
	}

	#signUp {
		padding: 7px 70px;
	}
	
	#splashFormPassword, #splashFormName {
		padding: 30px 70px 30px 30px;
		color: black;
	}
	
	#splashSubmit {
		padding: 5px 50px;
	}
	
	#splashBtn {
		padding: 17px 40px;
	}
}


@media screen and (max-width: 767px) {
	#signUp {
		padding: 7px 70px;
	}
	
	#splashFormPassword, #splashFormName {
		padding: 20px 40px 20px 20px;
		color: black;
	}
	
	#splashSubmit {
		padding: 5px 30px;
	}
	
	#splashBtn {
		padding: 10px;
	}
}



.full {
	padding-bottom: 570px;
	margin-bottom: -10px;
}

.almost-full {
	padding-bottom: 550px;
	
	
}

/* dashboard */
#chatForm {
	width: 100%; 
	bottom: 10px;
	position: absolute;
}

#chatBox {
	padding: 20px;
	margin-bottom: 10px;
}

#friendsList {
	padding: 20px;
}

#myMessage {
	float: right;
}

#theirMessage {
	float: left;
}